<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DUNGEON MAINTENANCE</title>
</head>

<body>
    <!-- This is the navbar. ((including login and sign up buttons)) -->
    <div>
        <nav>
            <h1>DUNGEON MAINTENANCE</h1>
            <div>
                {{#if logged_in}}
                <a href="/profile">profile</a> |
                <button class="no-button" id="logout">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </div>
        </nav>
    </div>

    <main>
        {{{body}}}
    </main>

    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
</body>
<script src="./js/login.js"></script>
</html>


{{!-- TODO: when view all characters link is added, <a href="/character/"></a> --}}