{{!-- for view all link <a href="/character/"></a> --}}
{{!-- for view one link <a href="/character/{{id}}"></a> --}}
{{!-- for DELETE button class= "delete-character-button" --}}
<script src="./js/characterSelection.js"></script>