{{!-- for view all link <a href="/character/"></a> --}}
{{!-- for view one link <a href="/character/{{id}}"></a> --}}
{{!-- for DELETE button class= "delete-character-button" --}}
<div>
    <h2>{{this.name}}</h2>
</div>
Hewwo
{{#each something as |bleh|}}
    {{bleh.name}}
    {{bleh.description}}
{{/each}}
<script src="./js/characterSelection.js"></script>