 {{!-- section for image upload, move when done --}}
<div>
    <form action='/upload' method='POST' enctype="multipart/form-data">
    <h3>Upload File</h3>
    <input type='file' name='cat' />
    <input type="submit" class="btn btn-primary">

</form>
</div>
</br>
<div>

    <img src='/img/default.jpg'>

</div>

{{!-- end section for image upload --}}
 <!-- This is the login section. (Had to put a div in to separate the submit button) -->
<div>
    <section>
        <img src="/img/Dunmain.jpg" alt="Dunmain" style="width-200px"; />
        <h1>WELCOME TO DUNGEON MAINTENANCE</h1>
        <h2>ABOUT SECTION</h2>
        <h2>HOW TO SECTION</h2>
    </section>
</div>

<!-- This is the login section. (Had to put a div in to separate the submit button) -->

{{#if logged_in}}
<div></div>
{{else}}
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Trek the Dungeon</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">

<form class="signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Join Our Guild</button>
      </div>
</form>
<!-- This is the sign up section. -->
{{!-- <div>
    <article>
        <h2>SIGN UP</h2>
        <h3>NAME</h3>
        <input type="text" id="name-signup" />
        <h3>EMAIL</h3>
        <input type="email" id="email-signup" />
        <h3>PASSWORD</h3>
        <input type="password" id="password-signup" />
        <div>
            <button class="signup-form">SUBMIT</button>
        </div>

    </article>
</div> --}}
{{/if}}
<script src="./js/login.js"></script>
{{!-- <script src="/public/js/logout.js"></script> --}}