 {{!-- section for image upload, move when done --}}
<div>
    <form action='/upload' method='POST' enctype="multipart/form-data">
    <h3>Upload File</h3>
    <input type='file' name='cat' />
    <input type="submit" class="btn btn-primary">

</form>
</div>
</br>
<div>
    <img src='/img/default.jpg'>
</div>

{{!-- end section for image upload --}}
 <!-- This is the login section. (Had to put a div in to separate the submit button) -->
<div>
    <section>
        <img src="/img/Dunmain.jpg" alt="Dunmain" style="width-200px"; />
        <h1>WELCOME TO DUNGEON MAINTENANCE</h1>
        <h2>ABOUT SECTION</h2>
        <h2>HOW TO SECTION</h2>
    </section>
</div>

<!-- This is the login section. (Had to put a div in to separate the submit button) -->

{{#if logged_in}}
<div></div>
{{else}}
<div>
    <article>
        <h2>LOG IN</h2>
        <h3>EMAIL</h3>
        <input type="EMAIL" />
        <h3>PASSWORD</h3>
        <input type="password" />
        <div>
            <button class="login-form">SUBMIT</button>
        </div>
        <!-- This is the sign up link we cant get to work yet! -->
        <h3>Don't have an account? <href>Sign up here!</href>
        </h3>
    </article>
</div>

<form class="signup-form">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" id="name-signup" />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="email" id="email-signup" />
  </div>
  <div class="form-group form-check">
      <label class="form-check-label" for="exampleCheck1">Password</label>
        <input type="password" id="password-signup" />
    </div>
  <button type="button" id="signup-form" class="btn btn-primary">Submit</button>
</form>
<!-- This is the sign up section. -->
{{!-- <div>
    <article>
        <h2>SIGN UP</h2>
        <h3>NAME</h3>
        <input type="text" id="name-signup" />
        <h3>EMAIL</h3>
        <input type="email" id="email-signup" />
        <h3>PASSWORD</h3>
        <input type="password" id="password-signup" />
        <div>
            <button class="signup-form">SUBMIT</button>
        </div>

    </article>
</div> --}}
{{/if}}
<script src="./js/login.js"></script>