<form action='/' method='POST' enctype="multipart/form-data">
    <h3>Upload File</h3>
    <input type='file' name='samplefile' accept="image/*" />
    <input type="submit" class="btn btn-primary">

</form>