.body{
    background-color: #a77e58;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    border-radius: 4px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #d9cfc1;
    border-radius: .8rem;
    box-shadow: 5px 10px 18px rgb(39, 39, 39);
}

.dropdown-flex {
display: flex;

}


.input-container {
background-color: #6b705c;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: auto;
border-radius: 4px;
text-align: center;
margin: 20px;
padding: 10px;
border-radius: .8rem;
box-shadow: 5px 10px 18px rgb(39, 39, 39);
}

.input-container div {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.description {
    width: 50%;
}
