.body {
    background-color: #a77e58;
}
.container {
    background-color: #6b705c;
}
.info-section {
    background-color: #6b705c;
    display: flex;
    flex-direction: row;
}
.single-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: auto;
    border-radius: 4px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: 0.3s;
    background-color:#6b705c;
  }
  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50%;
  }