.body {
  background-color: #a77e58;
}

.headerbox {
  background-color: #d9cfc1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  height: auto;
  padding-left: 100px;
}

.box-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sectionbox {
  background-color: #d9cfc1;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 75%;
height: auto;
border-radius: 4px;
text-align: center;
margin: 20px;
padding: 20px;
}

.sectionbox img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
  box-shadow: 5px 10px 18px #88888896;
}

.info {
  background-color: #ba3f1d;
  position: center;
  padding: 15px;
  margin: 20px;
}

.fitcont {
  max-width: fit-content;
}

.race {
  background-color: #ba3f1d;
  position: center;
  padding: 20px;
  margin: 20px;
}

.class {
    background-color: #ba3f1d;
    position: center;
    padding: 20px;
    margin: 20px;
  }

  .header {
    background-color: #eee3ab;
    margin: 20px;
    padding: 10px;
  }
/* #content-container {
  background-color: #a77e58;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #d9cfc1;
}
.info-section {
  background-color: #d9cfc1;
  display: flex;
  flex-direction: row;
}
.sectionbox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: auto;
  border-radius: 4px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: 0.3s;
  background-color: #d9cfc1;
}
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50%;
} */
