.body {
  background-color: #a77e58;
}

.headerbox {
  background-color: #6b705c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  height: auto;
  padding-left: 100px;
  box-shadow: 5px 10px 18px rgb(39, 39, 39);
}

.headerbox h2 {
  text-align: center;

}

.box-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sectionbox {
  background-color: #6b705c;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: auto;
border-radius: 4px;
text-align: center;
margin: 20px;
padding: 10px;
border-radius: .8rem;
box-shadow: 5px 10px 18px rgb(39, 39, 39);
}

.sectionbox img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
  box-shadow: 5px 10px 18px rgb(39, 39, 39);
}

.info {
  background-color: #ddbea9;
  position: center;
  padding: 15px;
  margin: 20px;
  border-radius: .8rem;
  box-shadow: 5px 10px 18px rgb(39, 39, 39);
}

.fitcont {
  max-width: fit-content;
  max-height: fit-content;
  text-align: center;
}

.race {
  background-color: #ddbea9;
  position: center;
  padding: 20px;
  margin: 20px;
  border-radius: .8rem;
  box-shadow: 5px 10px 18px rgb(39, 39, 39);
}

.class {
    background-color: #ddbea9;
    position: center;
    padding: 20px;
    margin: 20px;
    border-radius: .8rem;
    box-shadow: 5px 10px 18px rgb(39, 39, 39);
  }

  .header {
    background-color: #a5a58d;
    margin: 20px;
    padding: 10px;
    border-radius: .8rem;
    box-shadow: 5px 10px 18px rgb(39, 39, 39);
  }
